.employee-table-container h1 {
  margin-bottom: 25px;
  margin-left: 22%;
  margin-top: 1%;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-new {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 22%;
  cursor: pointer;
}

.search-input {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.clear {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th,
.employee-table td {
  padding: 12px 24px;
  border: none;
  text-align: left;
}

.employee-table th {
  background-color: #f4f4f4;
  color: black;
}

.employee-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.edit,
.delete {
  background-color: transparent;
  border: none;
  font-size: x-large;
  cursor: pointer;
}

.edit i {
  color: #2196F3;
}

.delete i {
  color: #f44336;
}