.employee-tables {
    width: 127vw;
    max-width: 1024px;
    height: 109vh;
    max-height: 400px;
    border-collapse: collapse;
    margin: 20px 22%;
    font-size: 18px;
    border-radius: 4%;
    text-align: left;
    overflow: scroll;
    border: none;
    background-color: #fff;
}

.employee-tables th, .employee-tables td {
    padding: 10px 20px;
    border: none;
}

.employee-tables thead {
    background-color: #4CAF50;
    display: contents;
}

.employee-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.employee-table img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.badge-container, .chart-container {
    padding: 0 10px;
}

.badge {
    display: inline-block;
    padding: 0.5em 0.7em;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
}

.badge.good {
    background-color: #4CAF50;
}

.badge.average {
    background-color: #FF9800;
}

.badge.excellent {
    background-color: #2196F3;
}

.badge.weak {
    background-color: #f44336;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
}