.dashboard-item {
  width: 280%;
  height: 15%;
  display: flex;
  align-items: center;
  color: black;
  padding: 20px;
  gap: 5px;
  background-color: white;
  border: 1px solid #e1e1e1;
  border-bottom: none;
  margin: 0% 0 2px 23%;
}

.icon-container {
  font-size: 25px;
  padding: 2%;
  background-color: white;
  border:  1px solid #e1e1e1;
  border-radius: 20%;
  margin-right: 20px;
}

.detail {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 12px;
  margin: 0;
}

.value {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}